{% extends "index.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-12 text-center">
      <h1 class="mt-5">MANAGE AUDIOCODES CONFIG</h1>
  </div>
  <div class="col-lg-12 mb-4">     
    <div class="col-lg-12 mb-4">
      <form>
        <div class="form-group">
          <label for="ip">IP address</label>
          <input type="text" class="form-control" id="InputIP" aria-describedby="Help" placeholder="Enter IP address of SBC" name="ip" required>
          <small id="emailHelp" class="form-text text-muted">IP v4</small>
        </div>
        <div class="form-group">
          <label for="InputUsername">Username</label>
          <input type="username" class="form-control" id="InputUsername" placeholder="Username" name="username" required>
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="InputPassword" placeholder="Password" name="password" required>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>    
    </div>
</div>


{% endblock %}
