{% extends "index.html" %}
{% block content %}

<body>
	<br>
	<h2>Section - {{section}}</h2>
	<table class="table">
    <thead>
		<tr>
        <th scope=""><a href="" class="fs-4">Parameter</a></th>
        <th scope=""><a href="" class="fs-4">Value</a></th>
		</tr>
    </thead>
	</table>
	
	<table class="table table-striped">
    <tbody>
      {% for key, value in config_details.items(): %}
        {% if value|length > 1: %}
           <tr>
              <td scope="row"><a href="" class="fs-6">{{key}}</a></td>
              <td><a href="" class="fs-6">{{value}}</a></td>
            </tr>
        {% else: %}
            <tr>
              <td scope="row"><a href="" class="fs-6">{{key}}</a></td>
	            <td><a href="" class="fs-6">{{value}}</a></td>
            </tr>
	      {% endif %}
      {% endfor %} 
    </tbody>
	</table>
	{% endblock %}
</body>