{% extends "index.html" %}
{% block content %}


<br>
<h2>Section - {{section}}</h2>
<table class="table">
  <thead>
      <th scope=""><a href="" class="fs-4">Parameter</a></th>
      <th scope=""><a href="" class="fs-4">Value</a></th>
  </thead>
</table>

<table class="table table-striped">
  <tbody>
    {% for key, value in config_details.items(): %}
      {% if value|length > 1: %}
          <tr>
            <th scope="row"><a href="" class="fs-6">{{key}}</a></th>
            <td><a href="" class="fs-6">{{value}}</a></td>
          </tr>
      {% else: %}
          <tr>
            <th scope="row"><a href="" class="fs-6">{{key}}</a></th>
            <td><a href="" class="fs-6">{{value}}</a></td>
          </tr>
      {% endif %}
    {% endfor %} 
  </tbody>
</table>
{% endblock %}

<thead>

</thead>