<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Configuration Manager</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-zYFw+mxKy6r9zpAc1NoGiYBfQmxfvg7ONEMr81WeU+WLPPaLC9QTrNGFJTBi3EIn" crossorigin="anonymous">
    </head>
    <body>
        <!-- Responsive navbar-->

        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <div class="navbar-brand">
                <a class="stretched-link" href="#">
                </a>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('mainpage') }}">Main Page</a>
                </li>
              </div>
            </div>
          </nav>
        <!-- Page Content -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Bootstrap core JS-->
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/js/boosted.bundle.min.js" integrity="sha384-MANW37RG4MpFWPMCcNZBnvSobOkBpIGlbBkEzTtD4FbbOzJXbW8TddND1ak2lfsB" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
       
    </body>
</html>