{% extends "index.html" %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">{{section}}</th>
    </tr>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in param_details.items(): %}
      {% if value|length > 1: %}
          <tr>
            <th scope="row">{{key}}</th>
                <tr>
                  <td>{{value}}</td>
                </tr>
          </tr>
      {% else: %}
          <tr>
            <th scope="row">{{key}}</th>
            <td>{{value}}</td>
          </tr>
      {% endif %}
    {% endfor %} 
  </tbody>
</table>
{% endblock %}

<thead>

</thead>