{% extends "index.html" %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">{{section}}</th>
    </tr>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in param_details.items(): %}
    {% if isinstance(value, list): %}
        <tr>
          <td>{{value}}</td>
        </tr>
    {% else: %}
        <tr>
          <th scope="row">{{parameter}}</th>
          <td>{{value}}</td>
        </tr>
    {% endif %}
    {% endfor %} 
  </tbody>
</table>
{% endblock %}

<thead>

</thead>